# Ignore git data
.git
.gitignore

# Ignore python cache
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore local messy data (optional, but good practice to mount cleanly)
lightning_logs/
wandb/

# Ignore docker files themselves
Dockerfile
docker-compose.yml

# Ignore system files
.DS_Store
